<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--임시 테스트 용 html-->
    <div class="form_list">
        <div class="form_item_id">
            <input type="text" th:value="" id="item_text" placeholder="제목 입력해주세요" readonly>
        </div>
        <div class="form_item_username">
            <input type="text" id="item_username"  placeholder="사용자 이름" readonly>    
        </div>
        <div class="form_item_day">
            <input type="date" id="item_day" placeholder="날짜 입력해주세요" readonly>      
        </div>
        <div class="form_item_post">
            <textarea name="content" id="item_content" rows="5" cols="40" placeholder="레시피 평가는 로그인 상태에서만 가능합니다." readonly></textarea>
        </div>
    </div>
</body>
</html>