<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/account.css">

</head>
<body>
<div class="main_form">
    <div class="form_list" id="form_item_save">
        <form>
            <div>
                <div class="form_item_id">
                    <label for="item_title">제목</label>
                    <input type="text" th:value="${post.getTitle()}" id="item_title" readonly>
                </div>
            </div>

            <div class="form_item_username">
                <label for="item_username">작성자</label>
                <input type="text" th:value="${post.getWriter()}" id="item_username" readonly>
            </div>

            <div class="form_item_day">
                <label for="item_day">작성일</label>
                <input type="date" th:value="${post.getCreation_date()}" id="item_day" readonly>
            </div>

            <div class="form_item_post">
                <label for="item_content">내용</label>
                <textarea name="content" th:text="${post.getWriting()}"
                          id="item_content" rows="5" cols="40" readonly="readonly">
                </textarea>
            </div>

            <div class="btn_account">
                <a href="/api-main">메인 페이지로 이동</a>
            </div>
        </form>

    </div>
</div>
</body>
</html>